<h1>Home</h1>

<div class="play-container">
    <button class="countButton" (click)="countClick()">
        You've clicked 
        <span>this</span>
    </button>
    
    <span> {{ clickCounter }} times</span>

    <div>
        <button class="resetButton" (click)="resetCounter()">
            Reset counter
        </button>
    </div>
</div>

<div class="play-container">
    <p>
        <input type="text" [ngModel]="name">
        <br>
        <strong> You said : </strong> {{ name }}
    </p>
</div>

<div 
    class="play-container"
    [ngStyle]="{'color': '#fff'}"
    [ngClass]="setClasses()"
    >
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>The click counter <strong>IS GREATER</strong> than 4</p>
    </ng-template>

    <ng-template #none>
       <p> The click counter is <strong>NOT GREATER</strong> than 4</p> 
    </ng-template>
</div>
